{% extends "base.html" %}
{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>

    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>{{ form.submit() }}</p>
        </p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}"><--- Newer</a>
    {% endif %}
    {% for page_number in range(number_of_pages) %}
        {% if page_number + 1 == current_page %}
            <font size="5">  <b>{{ page_number + 1}}</b></font> ..
        {% else %}
            <a href="{{ pages_list[page_number] }}">  {{page_number + 1}}  </a>..
        {% endif %}
    {% endfor %}
    {% if next_url %}
    <a href="{{ next_url }}">Older ---></a>
    {% endif %}<br>
{% endblock %}
